@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
body{
    background-color: black;
}
.main2 {
    padding-top: 20px;
    background-color: white;
    margin: 0 auto;
    width: 682px;
    height: 626px;
    border-radius: 20px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
}
h2 {
    text-align: left;
    padding-left: 20px;
    font-size: 20px;
}
p{
    margin-bottom: 0;
}
input{
    width: 190px;
    height: 50px;
    border-radius: 10px;
    margin-right: 4px;
    padding-left: 13px;
    border: 1px solid #AEAEAE;
    margin-top: 8px;
    font-size: 14px;

}
input::-webkit-input-placeholder {
    color: #DADADA;
}
.credite{
    text-align: left;
    padding-left: 20px;
}
.company{
    width: 400px;
    height: 50px;
}
.earn{
    margin-top: 8px;
    width: 295px;
    height: 50px;
}